@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';
@import '../../styles/base/base.scss';

.about {
    background-color: $lighter-green;
    color: $dark-green;

    h1 {
        font-size: 5rem;
    }

    .content {
        display: flex;

        p {
            font-size: 2rem;
            
            a {
                text-decoration: none;
                color: $dark-green;
            }
        }
    }
}