@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';
@import '../../styles/base/base.scss';

.about {
  background-color: $lighter-green;
  color: $dark-green;
  padding: 10rem 0;

  h1 {
    font-size: 5rem;
  }

  .content {
    display: flex;

    p {
      font-size: 2.2rem;
      text-align: justify;

      a {
        text-decoration: none;
        color: $dark-green;
      }
    }
  }
}
