@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';
@import '../../styles/base/base.scss';

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    ul {
        width: 1000px;
        display: flex;
        justify-content: space-around;
        
        li {
            list-style: none;
        }

        a {
            font-size: 2rem;
            font-weight: 1000;
            text-decoration: none;
            color: $dark-green;
            transition: all 0.5s ease 0s;
        }
        
        a:hover {
            color: $orange;
        }
    }
}