@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';
@import '../../styles/base/base.scss';

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;

    // @include respond(md) {
    //     height: 80vh;
    // }

    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: -8.5rem;
        margin-bottom: 2rem;
        // background-color: $background;

        h1 {
            margin: 0px 3rem;

            @include respond(sm) {
                margin: 0px;
                // display: none;
            }
        }

        img {
            max-width: 65px;
            
            @include respond(md) {
                max-width: 45px;
            }

            @include respond(sm) {
                display: none;
            }

        }
    
        .left {
            transform: rotate(-90deg);
        }
    
        .right {
            transform: rotate(90deg);
        }
    }
    

    .innerContainer {
        width: 100%;
        max-width: 900px;
        // border: solid $dark-green 5px;
        // border-radius: 20px;
        padding: 5rem;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;

        h1 {
            font-size: 4rem;
            color: $dark-green;
            // padding-bottom: 1rem;
        }

        label {
            // width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            padding: 5px;

            input {
                border: solid 3px $dark-green;
                border-radius: 10px;
                height: 4.3rem;
                padding: 5px;
            }
        }

        .submit {
            // padding: 5px;
            margin: 5px;
            padding: 1rem 0rem;
            
            :hover {
                cursor: pointer;
            }

            input {
                height: 5rem;
                border-radius: 10px;
                border: none;
                background-color: $orange;
                width: 100%;
                font-weight: 2rem;
                font-size: 2rem;
                color: $background;
                border: solid 4px $dark-orange;
            }


        }
    }
}