@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';
@import '../../styles/base/base.scss';

.branch {
    margin-top: -120px;
    width: 25%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    margin: 10px 0px 150px 0px;

    h1 {
        font-size: 3.5rem;
        color: $dark-green;
        margin-bottom: 40px;
        text-align: center;
    }

    img {
        max-height: 80vh;
        width: 100%;
    }
}